@import "tailwindcss";
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d6ded;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #031d49;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #031f5b;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #5d7eb6 #3f5788;
  scrollbar-color: #224582 #85a2da;
}
